
/* Media Query */

@media screen and (max-width: 1000px) {
  .principal-container {
    max-width: 100%;
    padding: 30px;
    margin-left: 0%;
  }
  
  .button-img {
    height: 80px;
    width: 80px;
    
  }
  
  .move-img {
    height: 30px;
    width: 30px;
  }
  
  .reset-button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: rgb(214, 208, 208);
  }
  .reset-button:active {
    background-color: gray;
  }
  
  .result {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .moves {
    margin-bottom: 50px;
  }
  
}

